[Unit]
Description=webhookListener
After=autofs.service
Requires=autofs.service

[Service]
Type=simple
TimeoutStartSec=0
User=WHUSER
Group=WHGROUP
EnvironmentFile=WHENV
ExecStart=WHRUBYSCRIPT

[Install]
WantedBy=multi-user.target

